CompileFlags:
  Add:
    - --cuda-gpu-arch=sm_86
    - -std=c++20
    - -I/workspace/cuda-learning/include
    - -I/usr/local/cuda/include
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - -Xcompiler*
    - -Xcudafe*
    - --expt-*
    - -arch=*
    - -rdc=*
    - --options-file
    - --options-file=*
